.button{
  @apply m-2 rounded-full p-2 text-h2 relative z-10 transition-all duration-200;

  &:hover{
    @apply text-h1 mr-24;
  }

  &:active{
    @apply bg-transparent text-h2;
  }

  &::after{
    content: '';
    @apply absolute left-0 bottom-0 h-full w-full rounded-full bg-h1 -z-10;
  }

  &:hover::after{
    @apply bg-h4;
  }
  
  &:active::after{
    @apply bg-h5;
  } 

  &::before{
    content: '';
    @apply absolute left-1/2 bottom-0 h-full w-0 bg-h5 rounded-r-full -z-20 transition-all duration-150 flex justify-end items-center;
  }

  &:hover::before{
    content: 'Light';
    @apply pr-10 w-28 text-h2 font-rubic_light;
  }
}